@tailwind base;
@tailwind components;
@tailwind utilities;

.mycart__overlayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: block;
}

.container__cart {
  @apply bg-bg-product pb-10 relative;
  height: 100vh;
  .header {
    @apply flex pt-10 pb-4 mx-3 justify-between;
    .header__left {
      @apply flex items-center gap-3;
      .header__logo {
        @apply h-6 w-6;
      }
      .header__name {
        @apply text-lg font-semibold;
      }
    }
    .icons {
      @apply flex gap-4 items-center;
      .icon__more {
        font-size: 20px;
      }
      .search__icon {
        @apply mr-7;
      }
    }
  }
  .btn__orders {
    @apply flex justify-between mx-5;
    .active {
      @apply bg-transparent px-4 rounded-none w-1/2  border-none p-0 font-semibold;
      border-bottom: 3px solid black;
      color:black
    }

    .completed {
      @apply bg-transparent px-4 rounded-none w-1/2   border-none p-0 font-semibold;
      border-bottom: 3px solid #959b9d;
      color: #959b9d;
    }
  }
  .container__products {
    .product__box {
      @apply flex bg-white m-4 rounded gap-3 p-4;
      .product__img {
        @apply w-40 h-40 bg-bg-product rounded-xl p-3 object-contain;
      }
      .product__detail {
        @apply flex flex-col gap-3 w-fit;
        .nameanddelete {
          @apply flex justify-between gap-20;
          .name {
            @apply font-semibold text-base;
          }
          .delete__icon {
            @apply h-5 w-5;
          }
        }
        .nameandcolor__pro {
          @apply flex flex-col gap-3;
          .status {
            @apply bg-bg-product w-24 rounded-lg text-center text-xs font-bold py-2
          }
          .color {
            @apply flex items-center gap-2;
            .color__show {
              @apply w-4 h-4 border rounded-full bg-slate-500;
            }
            .color__name {
              @apply text-xs text-gray-500;
            }
          }
        }
        .priceandreview {
          @apply flex text-center items-center gap-24 justify-between;
          .track__box {
            @apply bg-dark-blue text-white rounded-3xl py-2 px-4;
          }
          .price {
            @apply font-semibold text-lg;
          }
          .quantity__box {
            @apply flex text-center items-center bg-bg-product h-8 rounded-3xl;
            .btn__quantity {
              @apply w-8 h-8 p-0 bg-transparent text-dark-blue  text-2xl border-none;
            }
          }
        }
      }
    }
  }
  .footer {
    @apply flex w-full pt-5 p-3 justify-around fixed bottom-0 bg-white;

    .icon__footer-wrapper {
      @apply flex flex-col gap-1 text-center items-center;
      .imgicon {
        @apply w-6 h-6;
      }
      .nameicon {
        @apply text-xs font-semibold;
      }
      .shopicon{
        @apply w-8 h-8;
      }
    }
  }
}
